<a href="https://colab.research.google.com/github/vikky-os/PYTHON/blob/python/pyhton_week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROGRAMMING IN PYTHON**

# WEEK 1 CONTENT

##PRINT STATEMENT

In [1]:
print("hello world", "hello INDIA")
print(10, 20.5)

hello world hello INDIA
10 20.5

print statement is the easiest command in python wich can be used to write direct strings, whole numbers and float
print is flexible where we can write one message or multiple messages at the same time.

RULES



*   only use round brackets while using print statement
*   you have to use single or double quotes for typing in string values

## INTRODUCTION TO VARIABLES

In [3]:
a=20
b=30
c=a+b
print(a,"added to", b,"equals to",c)

20 added to 30 equals to 50

In [6]:
a=int(input("enter the value of a:"))
a=a+5
print(a)

enter the value of a:200
205

variable is a character used to store a specific value assigned to it.

In [9]:
n=str(input("enter your name:"))
print("hello!,",n, "how are you doing?")
p=str(input("enter your current place:"))
print("good to know that you're from",p)
age=int(input("can you tell me your age:"))
print("lovely!",n,"you seem to be very young")

enter your name:vikky
hello!, vikky how are you doing?
enter your current place:agra
good to know that you're from agra
can you tell me your age:19
lovely! vikky you seem to be very young

##DATA TYPES

In [30]:
n=10.2
print(n)
print(type(n),"is the class of n")
v="vikky"
#you can't directly convert str into int whereas
#you can convert a string like"2.7" etc using int(float("2.7")
print(v)
print(type(v),"is the class of v")
a=True
print(a)
print(type(a),"is the class of a")

10.2
<class 'float'> is the class of n
vikky
<class 'str'> is the class of v
True
<class 'bool'> is the class of a

we have various datatypes in python:

*   string : alphbetical values
*   integer : whole numbers
*   float : decimal values
*   boolean : true and false only

** list : enclosed by square brackets, can contain muliple values which can be of all three types -integers, float and string

In [19]:
l=[12,23,23,"str"]
print(type(l[0]))
print(type(l[1]))
print(type(l[3]))

<class 'int'>
<class 'int'>
<class 'str'>

###TYPE CONVERSION OF DATATYPES

In [33]:
#type conversion
a=int(2.8)
b=float(3)
c=bool(0)
#bool will only give false when the value is 0
#bool will also give false when u enter an empty str
d=bool(3)
e=bool('')
print(a)
print(b)
print(c)
print(d)
print(e)

2
3.0
False
True
False

##OPERATORS AND EXPRESSIONS

In [40]:
#concatenation
a="vikky"
b="yadav"
c=a+ b
print(c)

vikkyyadav
3.25

but if you try to multiply both the strings then it will show an error.

**ARITHEMATIC OPERATORS**

In [41]:
print("add",2+4)
print("substraction", 6-2)
print("multiply", 2*3)
print("division", 7/3)
print("floor division", 7//3)
print("modulo",7%3)
print("exponential",2**3)

add 6
substraction 4
multiply 6
division 2.3333333333333335
floor division 2
modulo 1
exponential 8

**RELATIONAL OPERTAORS**

In [42]:
# relational <,>,==,!=,<=,>= output will always be boolean values
print(5<4)
print(10<=10)
print(5!=5)

False
True
False

**LOGICAL OPERATORS**

In [43]:
print(True and True)
print(True or False)
print(False and True)
print(not True)
print(not False)

True
True
False
False
True

##INTRO TO STRINGS

**String slicing**

In [44]:
s="coffee"
t="bread"
print(s)
print(s[2:5]) #5th value won't be included
print(t)
print(t[0:3])

coffee
ffe
bread
bre

**INDEX, SLICING, CONCATENATION**

In [46]:
s='0123456789'
a=s[1]
b=s[3]
print(a+b)

c=int(s[1])
d=int(s[3])
print(c+d)

13
4

**MORE ON STRINGS**

In [55]:
s='good'
print(s*2)
#string comparision
print(s=='good')
print(s=='bad')
print('apple'>'vikky') #how?
#this compares a with v, since v comes after a, likewise it compares all and gives result
print("z">'b')

#negative=reverse string indexing
p='python'
print(len(p))
print(p[-1])
print(p[-2])
print(p[-3])
print(p[-4])
print(p[-5])
print(p[-6])

goodgood
True
False
False
True
6
n
o
h
t
y
p

indexing always starts from 0 to n in python and while we use negative indexing it starts from the back of the string and uses -1(end) to -n(start) .